.container {
  width: 1024px;
  margin: 0 auto;
  background-color: #efefef;
}
header {
  border: 1px solid #fff;
  margin: 0 0 1em 0;
  padding: 0em;
  border-bottom: 3px solid #333;
}
h1 {
  text-align: center;
  font-weight: 100;
  color: #333;
}
.btn-container {
  float: right;
}
.container-box {
  overflow: hidden;
  min-height: 170px;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  padding: 0.4em 0.9em;
  border: 1px solid #fff;
  margin: 0px -3px;
  font-size: 6em;
  display: inline-block;
  color: #fff;
  font-weight: 100;
}

.ListItem1,
.ListItem4,
.ListItem7 {
  background-color: #2f454e;
}
.ListItem2,
.ListItem5 {
  background-color: #2b8ead;
}
.ListItem6,
.ListItem8 {
  background-color: #6f98a8;
}
.ListItem3,
.ListItem9 {
  background-color: #bfbfbf;
}

.btn {
  overflow: visible;
  display: block;
  width: 240px;
  position: relative;
  top: 0px;
  font-family: inherit;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px 50px;
  margin: 25px 22px 0 10px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  color: #222;
  padding: 0.8em 2em;
}
.btn:active {
  position: relative;
  top: 5px;
}

.btn {
  background-color: #72c3dc;
  color: #fff;
  border: 1px solid #2b8ead;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: 200;
}
/* @media screen and (max-width: 360px) {
  body {
    display: none;
  }
} */
@media screen and (min-width: 360px) and (max-width: 1024px) {
  body {
    border: 10px solid #333;
    border-radius: 5px;
  }
  .container {
    background-color: none;
    width: 100%;
  }
  header {
    background-color: #333;
    color: #fff;
    border-bottom: 1em solid #dfdfdf;
  }
  h1 {
    color: #f7f7f7;
  }
  .btn-container {
    float: none;
    margin: 1em;
    width: auto;
    border: 0;
    text-align: center;
  }
  .container-box {
    padding: 0 10px;
  }
  .btn {
    overflow: visible;
    padding: 15px 25px;
    display: inline-block;
    margin: 15px;
    width: 130px;
  }
  ul li {
    list-style: none;
    padding: 0.2em;
    display: block;
    margin: 0;
    color: #333;
    font-size: 3em;
    text-align: center;
  }
  .ListItem1,
  .ListItem2,
  .ListItem3,
  .ListItem4,
  .ListItem5,
  .ListItem6,
  .ListItem7,
  .ListItem8,
  .ListItem9 {
    background-color: #dfdfdf;
    margin-bottom: 10px;
  }
  .ListItem1,
  .ListItem4,
  .ListItem7 {
    border-left: 0.2em solid #2f454e;
  }
  .ListItem2,
  .ListItem5 {
    border-left: 0.2em solid #2b8ead;
  }
  .ListItem6,
  .ListItem8 {
    border-left: 0.2em solid #6f98a8;
  }
  .ListItem3,
  .ListItem9 {
    border-left: 0.2em solid #bfbfbf;
  }
}
